.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.select {
	color: #000;
	background-color: #f1faee;
	border: none;
	padding: 0.1rem 0.5rem;
	margin: 0.1rem 0.5rem;
	font-size: 1rem;
	font: inherit;
}

.selectors:first-child::before {
	content: "Order by ID";
	color: #f1faee;
	position: relative;
	left: 0.1rem;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0.1rem 1rem;
	border-radius: 45px;
}

.selectors:nth-child(1):after {
	content: "Order by Gender";
	color: #f1faee;
	position: relative;
	left: 0.1rem;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0.1rem 1rem;
	border-radius: 45px;
}

.cards {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

@media screen and (max-width: 550px) {
	.selectors:first-child::before {
		content: "";
		padding: 0;
	}

	.selectors:nth-child(1):after {
		content: "";
		padding: 0;
	}
}

@media screen and (max-width: 400px) {
	.select {
		font-size: small;
	}
}
