.card {
	width: 250px;
	height: 300px;
	margin: 1rem;
	box-shadow: 0px 2px 5px rgba(35, 35, 35, 0.3);
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	border: solid #f1faee 5px;
	border-radius: 10px;
}

.cardInfo {
	background-color: #f1faee;
	position: relative;

	width: 100%;
	text-align: center;
}

.cardInfo > h2 {
	margin: 2px;
}

.cardImg > img {
	width: 100%;
}

.title {
	font-size: 1.5em;
	font-weight: 400;
}

.subtitle {
	display: inline;
	padding: 1rem;
	font-size: 1.1rem;
	font-weight: 300;
}

.card:hover {
	box-shadow: 1px 2px 10px rgba(35, 35, 35, 0.5);
	transition: all 0.3s ease-in-out;
}

.card:hover .cardImg {
	transition: all 0.3s ease-in-out;
	transform: translateY(-10%);
}

.card:hover .cardInfo {
	transition: all 0.3s ease-in-out;
	transform: translateY(-25px);
}
