.App {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.logo {
	width: 450px;
}

.logoLogin {
	margin: 0.2rem;
	width: 450px;
}

@media (max-width: 700px) {
	.logo {
		display: none;
	}
	.logoLogin {
		width: 350px;
	}
}
