.nav {
	position: relative;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.logo {
	margin-top: 0.2rem;
	min-width: 450px;
	height: 120px;
}

.logo:hover {
	transform: scale(1.02);
	transition: all 0.3s ease 0s;
}

@media (max-width: 650px) {
	.logo {
		min-width: 300px;
		height: 100px;
	}
}
