.notFound {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.notFound > h1 {
	position: relative;
	margin: 0;
	padding: 0;
	top: 0;
	text-align: center;
	font-size: 30rem;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 5px 10px rgba(35, 35, 35, 0.3);
}

.notFound > h2 {
	position: relative;
	top: -13rem;
	text-align: center;
	font-size: 3rem;
	color: rgba(255, 255, 255, 0.582);
	text-shadow: 5px 10px rgba(35, 35, 35, 0.3);
}

.rick {
	transform: rotateY(180deg);
	position: absolute;
	bottom: 0;
	left: 7rem;
	width: 400px;
	z-index: 10;
}

.morty {
	position: absolute;
	bottom: 0;
	right: 9rem;
	width: 180px;
	z-index: 10;
}

@media (max-width: 800px) {
	.morty {
		width: 110px;
	}
	.rick {
		width: 250px;
	}
	.notFound > h1 {
		font-size: 20rem;
		top: 4rem;
	}
	.notFound > h2 {
		top: 0;
	}
}

@media (max-width: 650px) {
	.rick {
		width: 200px;
		left: 1rem;
	}
	.morty {
		width: 90px;
		right: 2rem;
	}
	.notFound > h1 {
		font-size: 10rem;
		top: 15rem;
	}
	.notFound > h2 {
		top: 10rem;
	}
}
