.hidden {
	display: none;
}

.input {
	font: inherit;
	margin: 0 auto;
	width: 17rem;
	height: 2rem;
	padding: 0 0.5rem;
	border: 2px solid transparent;
	border-radius: 45px;
	outline: none;
	background-color: #f3f3f4;
	transition: 0.3s ease;
}
.input:focus {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}
.buttonadd {
	font: inherit;
	text-align: center;
	padding: 0.3rem 1.2rem;
	margin: 0.5rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
	background-color: #f1faee;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.buttonadd:hover {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.buttonadd:active {
	transform: translateY(-5px);
}

.buttonRandom {
	font: inherit;
	text-align: center;
	padding: 0.3rem 1.2rem;
	margin: 0.5rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
	background-color: #f1faee;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.buttonRandom:hover {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.buttonRandom:active {
	transform: translateY(-5px);
}

@media screen and (max-width: 1000px) {
	.searchbar {
		left: 0px;
	}
}

@media screen and (max-width: 800px) {
	.searchbar {
		display: flex;
		align-items: center;
	}
	.input {
		width: 8rem;
	}
}
