.hidden {
	display: none;
}

.input {
	font: inherit;
	margin: 0 auto;
	width: 17rem;
	height: 2rem;
	padding: 0 0.5rem;
	border: 2px solid transparent;
	border-radius: 45px;
	outline: none;
	background-color: #f3f3f4;
	transition: 0.3s ease;
	margin-right: -2.2rem;
}
.input:focus {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}
.buttonadd {
	position: relative;
	top: 3px;
	background: none;
	font-size: 1.3rem;
	border: none;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.buttonadd:active {
	transform: translateY(-5px);
}

.buttonRandom {
	font: inherit;
	text-align: center;
	padding: 0.3rem 1.2rem;
	margin: 0.5rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
	background-color: #f1faee;
	border: none;
	border-radius: 45px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.buttonRandom:hover {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.buttonRandom:active {
	transform: translateY(-5px);
}

@media (max-width: 500px) {
	.input {
		width: 10rem;
		margin-right: 0;
		padding: 0 0.3rem;
	}
	.buttonadd {
		background: #f1faee;
		border: none;
		padding: 0.3rem 0.5rem;
		margin: 0.5rem;
		border-radius: 45px;
	}
}

@media (max-width: 400px) {
	.input {
		width: 7rem;
		font-size: small;
		margin-right: 0;
	}
	.buttonRandom {
		font-size: small;
	}
	.buttonadd {
		font-size: 1.2rem;
	}
}
